@import "./main.scss";

.dropdown {
  margin-right: calc(2vw + 1em);
}

.dropdown-menu {
  position: absolute;
  top: 0%;
  left: -1em;
  padding: 0 0px;
  user-select: none;
  transform: scaleY(0);
  transition: all 0.1s ease;
  opacity: 0;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-menu.show {
  transform: scaleY(1);
  top: 100%;
  opacity: 1;
}

.hoverable {
  cursor: pointer;
}