@import "./main.scss";

.post {
  position: relative;
  background: lighten($light, 25);
  border-radius: 12px;
  margin-bottom: 1em;
  text-align: left;
  @include bigShadow($dark, 0.7);

  img {
    width: 100%;
    max-height: 350px;
    object-position: center;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }

  i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.5em;
    top: 0.5em;
    background: $danger;
    color: white;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50em;
    @include bigShadow($danger, 0.5s);
    transition: all 0.1s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);

      &:after {
        opacity: 0.25;
      }
    }

    &:after {
      border-radius: inherit;
      bottom: 0;
      color: inherit;
      content: "";
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
      background-color: currentColor;
    }
  }

  div {
    padding: 0.75em 1em;

    h5 {
      font-size: 17px;
      font-weight: 700;
    }

    p {
      @include alata(500);
      font-size: 16px;
      color: lighten($dark, 25);
    }
  }
}