@import "./main.scss";

.project-page {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  #project {
    padding: 2em 5em 0em 5vw;
    margin-left: 5em;
    position: relative;
    display: flex;
    width: 100%;

    img {
      transform: translateY(2em);
      position: relative;
      z-index: 100;
      width: 200px;
      height: 200px;
      object-position: center;
      object-fit: cover;
      border-radius: 12px;
      @include bigShadow($dark, 0.7);
    }

    div {
      padding-top: 5em;
      padding-left: 1.5em;
      color: lighten($light, 5);

      h4 {
        font-weight: bold;
      }

      p {
        font-size: 16px;
        margin: 0px;
      }
    }

    button {
      height: unset;
      border: 0;
      border-radius: 8px;
      padding: 1em 1em;
      background: transparent;
      color: lighten($light, 10);
      transition: all 0.1s ease;
      @include selectable();
    }
  }

  #tiers-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    @include bigShadow($dark, 0.7);
    position: relative;
    background: lighten($warning, 42);
    min-height: 5vh;
    padding: 1em 2em 2em 2em;
    margin: 0em 3em;

    h5 {
      @include baloo(700);
      color: $success;
      margin-bottom: 1em;
    }

    .tiers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }

    button {
      height: 45px;
      width: 45px;
      position: absolute !important;
      top: 1em;
      right: 1em;
      border-radius: 50em;
      border: 0;
      background: $success;
      color: $light;
      @include bigShadow($success, 0.5);
      @include selectable();
    }
  }

  #posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    position: relative;
    min-height: 5vh;
    margin: 0em 3em;

    .tier-filter {
      display: flex;
      justify-content: start;
      align-items: center;
      background: $info;
      @include bigShadow($info, 0.5);
      border-radius: inherit;
      padding: 1em 2em;
      margin: 0.8em 0;

      div {
        font-size: 18px;
        @include baloo(600);
        color: $light;
        margin-right: 1em;
      }

      button {
        border: 1px solid $light;
        padding: 0.5em 1em;
        margin: 0 0.5em;
        background: $info;
        color: $light;
        border-radius: inherit;
        transition: all 0.1s ease;

        &:hover {
          background: $light;
          color: $info;
        }

        &:disabled {
          border: 1px dashed lighten($info, 20);
          background: lighten($info, 5);
          color: lighten($info, 30);
        }
      }
    }

    #posts {
      flex-direction: column;
      border-radius: inherit;
      @include bigShadow($dark, 0.7);
      background: desaturate(lighten($warning, 38), 35%);
      padding: 2em;
      display: flex;
      width: 75%;
      margin: 0 auto;
    }

    .tier-filter+div {
      color: lighten($dark, 15);
      @include baloo(500);
      font-size: 20px;
      flex-direction: column;
      border-radius: inherit;
      @include bigShadow($dark, 0.7);
      background: lighten($warning, 38);
      padding: 0.8em 1em;
      display: flex;

      i {
        font-size: 28px;
      }
    }
  }
}