@import "./main.scss";

.supporter-tier {
  margin-bottom: 2em;

  h5 {
    @include baloo(700);
    font-size: 20;
    color: $info;
    padding: 0.25em;
    border-bottom: 1px solid darken($light, 30);
    margin-bottom: 1em;
  }

  &>div {
    display: flex;
    align-items: center;
    margin-bottom: 0.75em;

    img {
      width: 3em;
      box-shadow: 0px 2px 4px rgba(20, 20, 20, 0.219);
      border-radius: 50em;
      outline: 1px solid lighten($dark, 60);
      margin-right: 0.5em;
    }

    p {
      font-weight: 500;
      margin: 0;
    }
  }
}