@import "./main.scss";

.supporters {
  margin: auto 0em 1em auto;

  &>button {
    border: 0;
    border-radius: 8px;
    padding: 1em 3em;
    background: $success;
    color: lighten($light, 10);
    transition: all 0.1s ease;
    @include bigShadow($success, 0.5);
    @include selectable();
  }

  .offcanvas {
    background: lighten($light, 7);
    background-image: url("../assets/img/MobsBlob.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top right;
    width: 28em;
    padding-left: 1em;
    padding-right: 1em;

    &-header {
      direction: rtl;

      button {
        background: transparent;
        color: $dark  !important;
      }
    }

    &-body {
      background: lighten($light, 20);
      color: $dark;
      border-radius: 6px;
      box-shadow: 0px 2px 4px rgba(21, 21, 21, 0.247);
    }
  }
}