@import "./main.scss";

.tier.supported {
  // border: 4px dashed $light;
  background: lighten($success, 35);
  color: darken($success, 10);
  @include bigShadow($secondary, 0.8);

  &:before {
    content: "Your Tier";
    @include baloo(500);
    width: 50%;
    height: 1.5em;
    top: -0.9em;
    right: 25%;
    background: $success;
    color: $light;
    border-radius: inherit;
    position: absolute;
    z-index: 100;
  }

  h5 {
    background: $success;
    color: $light;
  }
}

.tier {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background: $success;
  color: $light;
  border-radius: 12px;
  padding: 1em 1.25em 1.25em 1.25em;
  width: 22em;
  flex: 1 0 auto;
  max-width: 45%;
  @include bigShadow($success, 0.5);
  @include selectable($light, 1, -2px);
  transition: all 0.1s ease;

  div {
    display: flex;
    justify-content: space-between;

    // cost
    h5 {
      font-size: 16px;
      font-weight: 500;
      border-radius: 50px;
      background: $light;
      color: $success;
      padding: 0.25em 1em;
    }

    // name
    h6 {
      font-size: 17px;
      @include baloo(700);
    }
  }

  p {
    text-align: left;
  }

  // delete button
  button {
    height: 30px;
    width: 30px;
    position: absolute !important;
    bottom: -15px;
    left: calc(44% + 1vw);
    text-align: center;
    border-radius: 50em;
    background: $success;
    border: 0;
    color: lighten($light, 10);
    transition: all 0.1s ease-in;

    &:hover {
      background: $danger;
    }
  }
}